@tailwind base;

.btn-primary {
    @apply relative
    inline-flex
    justify-center
    items-center
    px-4
    py-2
    rounded-md
    text-base
    font-medium
    leading-none
    tracking-wide
    text-white
    bg-[#1c9dd8]
    focus:ring-2
    focus:ring-blue-400
    focus:ring-offset-2
    focus:ring-offset-white
    focus:ring-opacity-100
    focus:outline-none
    transition
    duration-150
    ease-in-out; }

.card--content:before {
  content: '';
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  @apply bg-white; }


@layer base {
  .nuxt-content h1 {
    @apply text-2xl lg:text-5xl font-medium my-6 uppercase text-[#666666] mt-12;}
  .nuxt-content h1 small {
      @apply text-lg lg:text-2xl mb-2 block text-[#949494]; }
  .nuxt-content h1 strong {
      @apply text-[#1c9dd8]; }
  .nuxt-content h2 {
    @apply text-xl lg:text-3xl font-medium my-8 uppercase text-[#666666] mt-10; }
  .nuxt-content h2 small {
      @apply text-base lg:text-xl block text-[#949494]; }
  .nuxt-content h2 strong {
        @apply text-[#1c9dd8]; }
  }
