@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
@font-face {
  font-family: 'RedHatDisplay';
  src: url("~/assets/fonts/RedHatDisplayVF.woff2") format("woff2-variations");
  font-weight: 300 900;
  font-style: normal;
  font-display: fallback; }
@font-face {
  font-family: 'RedHatText';
  src: url("~/assets/fonts/RedHatTextVF.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
  font-display: fallback; }
body {
  @apply font-sans text-base leading-normal bg-white; } }

.card--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-content: space-between; }

.grid-gap-1 {
  grid-gap: 1rem; }

.grid-gap-2 {
  grid-gap: 2rem; }

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }

.card--slide {
  @apply w-80;
  flex-shrink: 0;
  position: relative;
  transition-property: transform; }

.card--header {
  position: relative;
  overflow: hidden; }

.card--container {
  flex-grow: 1;
  overflow: hidden; }

.card--content {
  position: relative; }

.card--content__inner {
  position: relative;
  z-index: 20; }

.btn--success {
  @apply bg-green-600 }

.btn--disabled {
  @apply bg-gray-200
text-gray-800; }

.btn--large {
  @apply px-6 py-4; }

@layer base {
  .nuxt-content h3 {
    @apply text-xl font-medium my-2; }
  .nuxt-content h4 {
    @apply text-lg font-medium my-2; }
  .nuxt-content h5 {
    @apply font-medium mt-2 my-2; }
  .nuxt-content h6 {
    @apply font-medium mt-2 my-2; }
  .nuxt-content ul {
    @apply list-disc m-6 mt-0; }
    .nuxt-content ul li {
      @apply mb-2; } }
