@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'RedHatDisplay';
    src: url("~/assets/fonts/RedHatDisplayVF.woff2") format("woff2-variations");
    font-weight: 300 900;
    font-style: normal;
    font-display: fallback; }
  @font-face {
    font-family: 'RedHatText';
    src: url("~/assets/fonts/RedHatTextVF.woff2") format("woff2-variations");
    font-weight: 300 700;
    font-style: normal;
    font-display: fallback; }
  body {
    @apply font-sans text-base leading-normal bg-white; } }

.btn--success {
  @apply bg-green-600 }

.btn--disabled {
  @apply bg-gray-200
text-gray-800; }

.btn--large {
  @apply px-6 py-4; }

@layer base {
  .nuxt-content h1 {
    @apply text-2xl lg:text-5xl font-medium my-6; }
  .nuxt-content h2 {
    @apply text-xl lg:text-3xl font-medium my-8; }
  .nuxt-content h3 {
    @apply text-xl font-medium my-2; }
  .nuxt-content h4 {
    @apply text-lg font-medium my-2; }
  .nuxt-content h5 {
    @apply font-medium mt-2 my-2; }
  .nuxt-content h6 {
    @apply font-medium mt-2 my-2; }
  .nuxt-content ul {
    @apply list-disc m-6 mt-0; }
    .nuxt-content ul li {
      @apply mb-2; } }
