@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {

body {
  @apply font-sans text-base leading-normal bg-white; } }

.card--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-content: space-between; }

.grid-gap-1 {
  grid-gap: 1rem; }

.grid-gap-2 {
  grid-gap: 2rem; }

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }

.card--slide {
  @apply w-80;
  flex-shrink: 0;
  position: relative;
  transition-property: transform; }

.card--header {
  position: relative;
  overflow: hidden; }

.card--container {
  flex-grow: 1;
  overflow: hidden; }

.card--content {
  position: relative; }

.card--content__inner {
  position: relative;
  z-index: 20; }

.btn--large {
  @apply px-6 py-4; }

.card--content:before {
  content: '';
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: -1rem;
  top: -1.5rem;
  transform: rotate(-5deg) translateY(-1rem);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  @apply bg-white; }

.btn-warning {
  @apply relative
  inline-flex
  justify-center
  items-center
  px-1
  py-1
  rounded-md
  text-sm
  leading-none
  tracking-wide
  text-red-500
  bg-gray-100
  focus:ring-2
  focus:ring-red-400
  focus:ring-offset-2
  focus:ring-offset-white
  focus:ring-opacity-100
  focus:outline-none
  transition
  duration-150
  ease-in-out;
}

@layer base {
  .nuxt-content p {
    @apply mb-5
  }
  .nuxt-content h3 {
    @apply text-xl font-medium my-2; }
  .nuxt-content h4 {
    @apply text-lg font-medium my-2; }
  .nuxt-content h5 {
    @apply font-medium mt-2 my-2; }
  .nuxt-content h6 {
    @apply font-medium mt-2 my-2; }
  .nuxt-content ul {
    @apply list-disc m-6 mt-0; }
    .nuxt-content ul li {
      @apply mb-2; } }
