.card--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-content: space-between;
}

.grid-gap-1 {
  grid-gap: 1rem;
}

.grid-gap-2 {
  grid-gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &--slide {
      @apply w-80;
      flex-shrink: 0;
      position: relative;
      transition-property: transform;
    }

    &--header {
      position: relative;
      overflow: hidden;

    }
    &--container {
      flex-grow: 1;
      overflow: hidden;
    }
    &--content {
      position: relative;

      &__inner {
        position: relative;
        z-index: 20;
      }

      &:before {
        content: '';
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: -1rem;
        top: -1.5rem;
        transform: rotate(-5deg) translateY(-1rem);
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        @apply bg-white;
      }
    }
  }
